.wrapper {
    background: rgb(175, 175, 175);
    background-image: url('http://www.techpresentations.org/myphoto/f/63/630834_harry-potter-houses-wallpaper.jpg');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }